<% cache("genres-list") do %>
  <div class="form-search">
    <%= form_tag(artists_path, :method => "get", class: "form-search") do %>
      <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Search for Artist" %>
      <%= submit_tag "Search", :name => nil, class: "search-query" %>
    <% end %>
  </div>

  <div id="grid" class="genres">
    <div class="row">
      <div class="col-lg-3">
        <%= link_to image_tag("POP", :class => 'list_image', :size => '460x300'), genre_path('pop')%>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("BLUES", :class => 'list_image', :size => '460x300'), genre_path('blues') %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("R&B", :class => 'list_image', :size => '460x300'), genre_path('r&b') %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("ROCK", :class => 'list_image', :size => '460x300'), genre_path('rock')  %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <%= link_to image_tag("blues_1.jpg", :class => 'list_image', :size => '460x300'), genre_path('country')  %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("ALTERNATIVE DANCE", :class => 'list_image', :size => '460x300'), genre_path('alternative dance')  %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("EDM", :class => 'list_image', :size => '460x300'), genre_path('edm')  %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("PUNK", :class => 'list_image', :size => '460x300'), genre_path('punk')  %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <%= link_to image_tag("HIP HOP", :class => 'list_image', :size => '460x300'), genre_path('hip hop')  %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("METAL", :class => 'list_image', :size => '460x300'), genre_path('metal')  %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("FUNK", :class => 'list_image', :size => '460x300'), genre_path('funk')  %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("EASY LISTENING", :class => 'list_image', :size => '460x300'), genre_path('easy listening')  %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <%= link_to image_tag("JAZZ", :class => 'list_image', :size => '460x300'), genre_path('jazz')  %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("REGGAE", :class => 'list_image', :size => '460x300'), genre_path('reggae')  %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("DISCO", :class => 'list_image', :size => '460x300'), genre_path('disco')  %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("FREAKBEAT", :class => 'list_image', :size => '460x300'), genre_path('freakbeat')  %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <%= link_to image_tag("CLASSICAL", :class => 'list_image', :size => '460x300'), genre_path('classical')  %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("FOLK", :class => 'list_image', :size => '460x300'), genre_path('folk')  %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("LATIN", :class => 'list_image', :size => '460x300'), genre_path('latin')  %>
      </div>
      <div class="col-lg-3">
        <%= link_to image_tag("BRITISH INVASION", :class => 'list_image', :size => '460x300'), genre_path('british invasion')  %>
      </div>
    </div>
  </div>
<% end %>
