<!--<div class="row">-->                        <%#= Look at rails #in_groups_of %>
  <!--<%# 3.times do %>-->
    <!--<div class="col-lg-4">-->
      <!--<img src="http://placehold.it/351x150">-->
    <!--</div>-->
  <!--<%# end %>-->
<!--</div>-->

<div id="grid">
  <%# @genres.each do |genre| %>
    <div class="row">
      <div class="col-lg-4">
        <%#= link_to image_tag("cassette_tape.png", :class => 'list_image', :size => '300x180'), genre_artists_path(genre.id) %>
        <%= image_tag("cassette_tape.png", :class => 'list_image', :size => '300x180') %>

        <%= image_tag("blues_1.jpg", :class => 'list_image', :size => '300x180') %>

        <%= image_tag("rock.jpg", :class => 'list_image', :size => '300x180') %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <%= image_tag("country.jpg", :class => 'list_image', :size => '300x180') %>

        <%= image_tag("jazz.jpg", :class => 'list_image', :size => '300x180') %>

        <%= image_tag("punk_rock.jpg", :class => 'list_image', :size => '300x180') %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <%= image_tag("blues.jpg", :class => 'list_image', :size => '300x180') %>

        <img src="http://placehold.it/300x180">

        <%= image_tag("country_1.jpg", :class => 'list_image', :size => '300x180') %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <img src="http://placehold.it/300x180">

        <img src="http://placehold.it/300x180">

        <img src="http://placehold.it/300x180">
      </div>
    </div>
    <%# end %>
</div>
