<%= render partial: 'layouts/search' %>

<h2 class="page-title">Select a genre below</h3>

<ul class='block-grid genres'>
  <% %w(pop blues r&b rock).each do |name| %>
    <%= render partial: 'genre', locals: {name: name} %>
  <% end %>

  <% ["country", "alternative dance", "edm", "punk"].each do |name| %>
    <%= render partial: 'genre', locals: {name: name} %>
  <% end %>

  <% ["hip hop", "metal", "funk", "easy listening"].each do |name| %>
    <%= render partial: 'genre', locals: {name: name} %>
  <% end %>

  <% ["jazz", "reggae", "disco", "freakbeat"].each do |name| %>
    <%= render partial: 'genre', locals: {name: name} %>
  <% end %>

  <% ["classical", "folk", "latin", "british invasion"].each do |name| %>
    <%= render partial: 'genre', locals: {name: name} %>
  <% end %>
</ul>
