Hello
<%= @artist.name %>



<ul><div>
  <% if @twitter != nil %>
    <%= link_to image_tag("twitter-icon.png", :class => 'twitter-follow-button', :size => '60x60', data_show_count: 'false', data_size:"large", data_show_screen_name:"false" ),"https://twitter.com/#{@twitter}" %>
    <a href="http://twitter.com/#{@artist.name}" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <%#= link_to "Visit Twitter Page", "https://twitter.com/#{@twitter_handle}", :style => 'color:white;' %>
    <!--<ul>Start Following: <%#= link_to "@#{@twitter_handle}", current_user.follow_artist(@twitter_handle), :style => 'color:white;' %></ul>-->
  <% end %>

  <% if @websites.official_url != nil %>
    <%= link_to image_tag("band-site-icon.png", :class => 'list_image', :size => '60x60') %>
    <%#= link_to "#{@artist.name}'s Website", @websites.official_url, :style => 'color:white;' %>
  <% end %>

  <% if @websites.wikipedia_url != nil %>
    <%= link_to image_tag("wiki-icon.png", :class => 'list_image', :size => '60x60') %>
    <%#= link_to "Learn more about #{@artist.name}", @websites.wikipedia_url, :style => 'color:white;' %>
  <% end %>

  <% if @websites.itunes_url != nil %>
    <%= link_to image_tag("itunes-icon.png", :class => 'list_image', :size => '60x60') %>
    <%#= link_to "Buy Music", @websites.itunes_url, :style => 'color:white;' %>
  <% end %>

  <% if @spotify_artist != nil %>
    <%= link_to image_tag("spotify-icon.png", :class => 'list_image', :size => '60x60') %>
    <%#= link_to "Spotify", @spotify_website, :style => 'color:white;' %>
  <% end %>

  <% if @websites.amazon_url != nil %>
    <%= link_to image_tag("amazon-icon.png", :class => 'list_image', :size => '60x60') %>
    <%#= link_to "Purchase!", @websites.amazon_url, :style => 'color:white;' %>
  <% end %>
</div></ul>
</div>
