<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @artist.name %></title>
  <link rel="stylesheet" href="assets/stylesheets/artist.scss">
  <!--<link rel="stylesheet" href="Assets/Fonts/ProximaNovaSoft-Regular.otf">-->
</head>

<body cz-shortcut-listen="true">

<section class="name-title">
  <!--<img class="img-circle" <%#= image_tag(@profile_pic['url'], :class => 'list_image', :size => '306x306') %>-->
  <img class="img-circle" <%= image_tag(@artist_images.first.url, :class => 'list_image', :size => '350x350') %>

  <!--<img class="headshot" src="assets/images/billy_profile.jpg" alt="photo of artist">-->
  <h1 class="container"><%= @artist.name %></h1>
  <div class="arrow-contain">
    <a class="next-arrow" href="#about">
      <%= image_tag("arrow-white.png", :class => 'list_image', :size => '40x40') %>

      <!--<img src="assets/images/arrow-white.png" alt="down arrow">-->
    </a>
  </div>
</section>
<section class="background_image" id="about">
  <%#= image_tag(@artist_images.last.url) %>

</section>
<section class="about">
  <h3>BIO</h3>
  <h4><%#= @artist_image %></h4>
  <div class="text">This is what the artist's bio/band history would go.
    <br>
    <br>I might have several paragraphs of info.
    <br>
    <br>Billy Joel is so awesome.
    <br>
  </div>
  <div class="arrow-contain">
    <a class="next-arrow" href="#professional">
      <%= image_tag("arrow-blue.png", :class => 'list_image', :size => '40x40') %>
    </a>
  </div>
</section>

<section class="background_image" id="professional"></section>

<section class="news">
  <h3>NEWS</h3>
  <h4><%#= @artist_news.date_found.to_time.strftime('%B %d, %Y') %></h4>
  <div class="text">
    <%#= @artist_news.summary %>
  </div>
  <div class="arrow-contain">
    <a class="next-arrow" href="#professional">
      <%= image_tag("arrow-white.png", :class => 'list_image', :size => '40x40') %>
    </a>
  </div>
</section>

<section class="background_image" id="professional"></section>

<section class="professional">
  <h3>Similar Artists</h3>
  <h4>Fan of <%= @artist.name %>?   You may also like:</h4>
  <div id="grid">
    <div class="row">
      <ul>
        <% @related_artists.each do |artist| %>
          <div class="col-lg-4" id="related_artists">
            <li>
              <%= link_to image_tag(artist.images.last['url'], :class => 'img-circle', :size => '80x80'), artist_path(artist.name) %>
              <%= link_to artist.name, artist_path(artist.name), :style => 'color:white;' %>
            </li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="arrow-contain">
    <a class="next-arrow" href="#business-solutions">
      <%= image_tag("arrow-white.png", :class => 'list_image', :size => '40x40') %>
    </a>
  </div>
</section>
<section class="background_image" id="business-solutions"></section>
<section class="business-solutions">
  <h3>Maybe have a section with the concert dates/tour info.</h3>
  <h4>I would have additional sections about latest news on the artists, blogs, music videos, ... </h4>
  <div class="text">


  </div>
  <div class="arrow-contain">
    <a class="next-arrow" href="#connect">
      <%= image_tag("arrow-blue.png", :class => 'list_image', :size => '40x40') %>
    </a>
  </div>
</section>
<section class="background_image" id="connect"></section>
<section class="connect">
  <h3>Music Videos</h3>
  <h4>Songs with links to its' YouTube video...</h4>
    <div class="text">
      <ul>
        <%# @videos.each do |video| %>
          <li>
            <%#= link_to image_tag(video.image_url, :class => 'list_image', :size => '60x60'), video.url %>
            <%#= video.title %>
          </li>

        <%# end %>
      </ul>
    </div>
</section>

<section class="background_image" id="connect"></section>

<section class="connect">
  <h3>Stay Connected with <%#= @artist.name %>!</h3>
  <h4> </h4>
    <div class="text">
      <%# if @websites.official_url != nil %>
        <li><%#= link_to "#{@artist.name}'s Website", @websites.official_url%></li>
      <%# end %>

      <%# if @websites.wikipedia_url != nil %>
        <li><%#= link_to "Learn more about #{@artist.name}", @websites.wikipedia_url%></li>
      <%# end %>

      <%# if @websites.itunes_url != nil %>
        <li><%#= link_to "Buy Music", @websites.itunes_url%></li>
      <%# end %>

      <%# if @spotify_website != nil %>
      <li><%= link_to "Spotify", @spotify_website%></li>
      <%# end %>

      <%# if @websites.amazon_url != nil %>
        <li><%#= link_to "Purchase!", @websites.amazon_url%></li>
      <%# end %>
    </div>
</section>

<section class="connect-icons">
  <div class="col-1-3">
    <!--<div class="github-icon">-->
      <a href="/">
        <%= image_tag("billy_album_1.jpg", :class => 'list_image', :size => '100x100') %>
        <!--<img src="assets/images/billy_album_1.jpg" alt="album_cover">-->
      </a>
    <!--</div>-->
  </div>
  <!-- -->
  <div class="col-1-3">
    <a href="/">
    <!--<a href="https://www.facebook.com/max.tedford">-->
      <%= image_tag("billy_album_2.jpg", :class => 'list_image', :size => '100x100') %>
    </a>
  </div>
  <!-- -->
  <div class="col-1-3">
    <a href="/">
    <!--<a href="https://www.linkedin.com/profile/view?id=25531971&amp;trk=nav_responsive_tab_profile">-->
      <%= image_tag("billy_album_3.jpg", :class => 'list_image', :size => '100x100') %>
      <!--<img src="assets/images/billy_album_3.jpg" alt="album_cover">-->
    </a>
  </div>
</section>
<!--<footer class="copyright">-->
  <!--<small>© Whithub Company</small>-->
<!--</footer>-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js">

</script>
<script type="text/javascript">
  $(function() {
    $('.primary-nav a').on('click', function(e) {
      var className = e.target.dataset.selector;
      if (className === "top") {
        var selector = $(document);
        selector.scrollTop();
      } else {
        var selector = $('.' + className);
        $('body').animate({
          scrollTop: selector.offset().top
        }, 1000);
      }
    });
  });
</script>
</body>
</html>
