<section class="artist-details">
  <header>
    <h2 class="page-title"><%= @artist.name %></h2>

    <div class="buttons">
      <% if current_user.likes.where(artist_name: @artist.name).count > 0 %>
        <p>Already Liked</p>
      <% else %>
        <%= render partial: 'like_form', locals: {artist_name: @artist.name, found_through: params[:found_through]} %>
      <% end %>
      <%= link_to "Find similiar artists to #{@artist.name}", artist_similar_artists_path(@artist.name), class: 'button big search icon' %>
    </div>
  </header>
  <% cache("#{@artist.name}-artist-details") do %>
    <div class="details">
      <div class="hero">
        <%= image_tag(@artist_images.first.url, class: 'main-artist-image') %>
      </div>
      <div class="secondary">
        <%= image_tag(@artist_images.second.url) %>
        <%= image_tag(@artist_images.third.url) %>
      </div>

    </div>
  <% end %>
</section>

<% cache("#{@artist.name}-artist-videos") do %>
  <section class="artist-videos">
    <header>
      <h2 class="page-title"><%= @artist.name %> Music Videos</h2>
    </header>
    <ul class="block-grid">
      <% @videos.each do |video| %>
        <li>
          <%= link_to video.url do %>
            <%= image_tag video.image_url %>
            <span><%= video.title %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>

