<!--<div class="row">-->                        <%#= Look at rails #in_groups_of %>
  <!--<%# 3.times do %>-->
    <!--<div class="col-lg-4">-->
      <!--<img src="http://placehold.it/351x150">-->
    <!--</div>-->
  <!--<%# end %>-->
<!--</div>-->

<div id="grid">
<div class="row">
  <div class="col-lg-4">
    <%= image_tag("cassette_tape.png", :class => 'list_image', :size => '350x220') %>
  </div>
  <div class="col-lg-4">
    <%= image_tag("blues_1.jpg", :class => 'list_image', :size => '350x220') %>
  </div>
  <div class="col-lg-4">
    <%= image_tag("rock.jpg", :class => 'list_image', :size => '350x220') %>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <%= image_tag("country.jpg", :class => 'list_image', :size => '350x220') %>
  </div>
  <div class="col-lg-4">
    <%= image_tag("jazz.jpg", :class => 'list_image', :size => '350x220') %>
  </div>
  <div class="col-lg-4">
    <%= image_tag("punk_rock.jpg", :class => 'list_image', :size => '350x220') %>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <%= image_tag("blues.jpg", :class => 'list_image', :size => '350x220') %>
  </div>
  <div class="col-lg-4">
    <img src="http://placehold.it/350x150">
  </div>
  <div class="col-lg-4">
    <%= image_tag("country_1.jpg", :class => 'list_image', :size => '350x220') %>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <img src="http://placehold.it/350x150">
  </div>
  <div class="col-lg-4">
    <img src="http://placehold.it/350x150">
  </div>
  <div class="col-lg-4">
    <img src="http://placehold.it/350x150">
  </div>
</div>
</div>
